.payment-form {

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    &--cvc {
      position: relative;
    }
  }

  &__input-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $text-secondary;
    margin-bottom: 5px;
  }

  &__input {
    border-radius: $primary-border-radius;
    padding: 10px 12px;
    outline: none;
    border: 1px solid $text-default;
    transition: border-color $transition-duration ease-in-out;
    font-size: 16px;
    line-height: 24px;
    color: $text-secondary;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: $text-secondary;
    }

    &:hover {
      border-color: $primary-text;
    }

    &:focus {
      border-color: $primary-green;
    }

    &--not-valid {
      border-color: $not-valid-red;
    }
  }

  &__tooltip {
    position: absolute;
    top: 52%;
    left: 80%;
  }

  &__text-not-valid {
    font-size: 10px;
    line-height: 14px;
    color: $not-valid-red;
    position: absolute;
    right: 1%;
    top: 10%;
  }

  &__tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%;
    right: 5%;
    width: 150px;
    background-color: $secondary-background;
    color: $text-secondary;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    transition: all $transition-duration ease-in-out;
  }

  &__tooltip-container {
    position: relative;
    display: inline-block;

      &:hover > .payment-form__tooltip-text {
        visibility: visible;
        opacity: 1;
        transition: opacity $transition-duration ease-in-out;
      }
  }

  &__tooltip-icon {
    background-image: url(/icons/info-tooltip.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: block;

    @include on-desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }
}