.footer {
    color: $text-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    &__h3 {
        font-weight: 500;
    }

    &--span {
        font-weight: 700;
    }
}