$tablet-min-width: 453px;
$desktop-min-width: 1000px;
$desktopPlus-min-width: 1280px;
$primary-text: #363A43;
$text-secondary: #666C7B;
$text-default: #C7C9D1;
$secondary-background: #F7F8FA;
$primary-background: #FFF;
$primary-green: #028837;
$secondary-green: #029C3F;
$action-green: #02742F;
$elements-secondary: #E0E2EA;
$black-main: #000;
$primary-border-radius: 8px;
$transition-duration: 0.5s;