.button {
  position: relative;
  border: none;
  overflow: hidden;
  padding: 24px 16px;
  border-radius: $primary-border-radius;
  color: $primary-background;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: all $transition-duration ease-in-out;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateZ(0);
  background-color: $primary-green;

  &:focus {
    background-color: $action-green;
  }

  &:hover:not(.processing):not(.success) {
    background-color: $secondary-green;
    cursor: pointer;
  }

  &:active:not(.processing):not(.success) {
    background-color: $action-green;
    transform: scale(0.98);
  }

  &.processing {
    background-color: $action-green;
    cursor: not-allowed;
  }

  &.success {
    background-color: $action-green;
    cursor: default;
  }

  &__text {
    position: absolute;
    transition: all $transition-duration ease-in-out;

    &--initial {
      opacity: 1;
      transform: translateY(0);


      .processing &, .success & {
        opacity: 0;
        transform: translateY(100%);
      }
    }

    &--processing {
      opacity: 0;
      transform: translateY(-100%);
      transition: all $transition-duration ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  
      .processing:not(.success) & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &--success {
      opacity: 0;
      transform: translateY(100);

      .success & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
